/* 기능 소개 블럭 */
.feature-container {
  background-color: #fff;
  margin-top: 900px;
  position: relative;
  padding: 0 20px 0 20px;
}

.feature-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 0;
}
.box-contanier {
  width: 100%;
  max-width: 70%;
  margin: auto;
}
.white_space {
  width: 100%;
  height: 300px;
}
.boxes {
  display: flex;
  width: 100%;
  height: 500px;
  margin: 200px 0px;
  overflow: hidden;
  border-radius: 20px;
  box-shadow: 0px 12px 18px -6px rgba(0, 0, 0, 0.4);
}

.feature-info-01,
.feature-info-02 {
  flex: 1;
  /* border: 1px solid red; */
}

.feature-info-gif-01 {
  background-image: url(../images/feature-01.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  flex: 1;
  width: 100%;
  height: 100%;
}

.feature-info-gif-02 {
  background-image: url(../images/feature-02.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  flex: 1;
  width: 100%;
  height: 100%;
}

.feature-info-gif-03 {
  background-image: url(../images/feature-03.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  flex: 1;
  width: 100%;
  height: 100%;
}

.feature-info-01 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
}

.feature-info-01 h1 {
  font-size: 2rem;
  font-weight: 600;
}

.feature-info-01 p {
  font-size: 1.5rem;
  font-weight: 300;
}

.feature-info-02 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: right;
}

.feature-info-02 h1 {
  font-size: 2rem;
  font-weight: 600;
}

.feature-info-02 p {
  font-size: 1.5rem;
  font-weight: 300;
}
