.footer-container {
  width: 100%;
  position: relative;
  background: #dcdde1;
}

.footer-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 40px 60px;
  text-align: center;
}

.footer-wrapper p {
  font-size: 1.3em;
  font-weight: 500;
}

.footer-logo {
  background-image: url("../images/hta_footer.svg");
  background-repeat: no-repeat;
  display: block;
  height: 80px;
  width: 240px;
}

.footer-content {
  flex: 1;
  margin-top: 12px;
  line-height: 3rem;
  color: rgb(63, 71, 82);
}
.footer-title {
  font-size: 2rem;
  font-weight: 700;
  padding-bottom: 30px;
}
/* 아이콘 */
.fa-github-square,
.fa-twitter-square,
.fa-instagram-square {
  font-size: 2em;
  padding-left: 20px;
  color: rgb(63, 71, 82);
}

.fa-headset {
  font-size: 1.3em;
}

.footer-info-social {
  text-align: center;
  padding-bottom: 30px;
  font-size: 20px;
}

/* 푸터 인포 */
.footer-info-container {
  text-align: center;
  padding-bottom: 50px;
  color: rgb(63, 71, 82);
  font-size: 20px;
}

@media screen and (max-width: 1028px) {
  .footer-content.sub {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .footer-content.sub,
  .footer-content.centacts {
    display: none;
  }

  .footer-logo {
    margin-bottom: 50px;
  }
}
