/* 서비스 소개 블럭 */
.service-container {
  display: flex;
  justify-content: center;
  text-align: center;
  height: 750px;
  margin-top: 150px;
  position: fixed;
  width: 100%;
  background: url(../images/layered-waves-haikei.svg), url(../images/alba.svg),
    url(../images/bubble-1.svg), url(../images/bubble-2.svg) center;
  background-size: cover, auto, cover, cover;
  background-repeat: repeat-x, no-repeat, no-repeat, repeat-y;
  animation: wave-moving 3s linear infinite;
}

@keyframes wave-moving {
  0% {
    background-position: 100% 90%, center 105%, center, center;
  }

  50% {
    background-position: 80% 85%, center 105%, center, center;
  }

  100% {
    background-position: 100% 90%, center 105%, center, center;
  }
}

.service-wrapper {
  margin-top: 100px;
  min-width: 60%;
  animation: showText 0.5s;
  animation-fill-mode: both;
}

.service-wrapper > p:nth-child(1) {
  font-size: 2.5rem;
  color: rgb(63, 71, 82);
  font-weight: 600;
  margin-top: 30px;
}

.service-wrapper > p:nth-child(2) {
  font-size: 3rem;
  padding: 30px;
  color: rgb(128, 132, 137);
  font-weight: 600;
}

.service-wrapper > p:nth-child(3) {
  font-size: 2.5rem;
  color: rgb(63, 71, 82);
  font-weight: 600;
}

@keyframes showText {
  from {
    transform: translateY(30px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

.service-scroll {
  position: absolute;
  top: 88%;
  left: 50%;
  font-size: 3rem;
  color: #fff;
  animation: showText 1s;
  animation: scroll 1.5s infinite;
  animation-fill-mode: both;
}

@keyframes scroll {
  0% {
    opacity: 0.4;
  }
  50% {
    opacity: 0.7;
  }
  100% {
    opacity: 0.4;
  }
}

.typing-wrapper {
  display: flex;
  justify-content: center;
  background-color: #fff;
  padding: 40px 0px;
  margin-top: 50px;
  border-radius: 20px;
  box-shadow: 0px 12px 18px -6px rgba(0, 0, 0, 0.4);
  animation: showTyping 0.8s;
}

.typing-text {
  font-size: 2rem;
}

#typing {
  position: relative;
}

#typing::after {
  content: "|";
  display: block;
  position: absolute;
  top: 0;
  right: -5px;
  width: 4px;
  height: 100%;
}
#typing.active::after {
  display: none;
}

@keyframes showTyping {
  from {
    transform: translateY(30px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

@media screen and (max-width: 1024px) {
  .typing-text {
    font-size: 1.7rem;
  }
  .service-wrapper > p:nth-child(1) {
    font-size: 2rem;
    color: rgb(63, 71, 82);
    font-weight: 600;
    margin-top: 30px;
  }

  .service-wrapper > p:nth-child(2) {
    font-size: 2.5rem;
    padding: 30px;
    color: rgb(124, 129, 136);
    font-weight: 600;
  }

  .service-wrapper > p:nth-child(3) {
    font-size: 2rem;
    color: rgb(63, 71, 82);
    font-weight: 600;
  }
}

@media screen and (max-width: 768px) {
  .typing-text {
    font-size: 1.3rem;
  }

  .service-wrapper > p:nth-child(1) {
    font-size: 1.5rem;
    color: rgb(63, 71, 82);
    font-weight: 600;
    margin-top: 30px;
  }

  .service-wrapper > p:nth-child(2) {
    font-size: 2rem;
    padding: 30px;
    color: rgb(124, 129, 136);
    font-weight: 600;
  }

  .service-wrapper > p:nth-child(3) {
    font-size: 1.5rem;
    color: rgb(63, 71, 82);
    font-weight: 600;
  }
}
