.topBtn {
  position: fixed;
  opacity: 0;
  bottom: 50px;
  right: 50px;
  z-index: -10;
  border-radius: 20%;
  border: 0 none;
  background-color: transparent;
  color: #ffffff;
  letter-spacing: -0.06em;
  cursor: pointer;
  transition: opacity 0.3s ease-in;
}

.fa-angle-double-up {
  font-size: 3rem;
  color: rgb(50, 108, 249);
}
.topBtn.active {
  z-index: 100;
  opacity: 1;
}

.fa-angle-double-up:hover {
  color: #fff;
}

.topBtn:hover,
.topBtn:focus,
.topBtn:active {
  outline: 0 none;
}

@media screen and (min-width: 1140px) {
}

@media screen and (min-width: 768px) {
}
